.profile-pic {
    width: 100px;
}

.register-button {
    margin-top: 20px;
}

.switch-login-register {
    font-family: 'Comic Sans MS';
    color: black;
    font-weight: 2;
    font-size: 20px;
    cursor: pointer;
}

.switch-login-register:hover {
    -webkit-text-stroke: 1px #8de0f9;
}