@font-face {
    font-family: 'Comic Sans MS';
    src: url(../../../public/fonts/COMIC.TTF);
}

body {
    background-image: url(../../assets/crossing-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Comic Sans MS';
    -webkit-text-stroke: 2px #8de0f9;
    color: black;
    font-weight: 2;
    font-size: 60px;
}

p {
    font-family: 'Comic Sans MS';
    color: black;
}

.homepage-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.auth-margin {
    display: flex;
    gap: 15px;
    margin-right: 5%;
    margin-left: 25%;
}

.login-pic {
    width: 69px;
}

.username {
    margin-top: 15%;
}

.logout-icon {
    margin-top: 10%;
    cursor: pointer;
}