.homepage-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.auth-margin {
    display: flex;
    gap: 15px;
    margin-right: 5%;
    margin-left: 25%;
}

.login-pic {
    width: 69px;
}

.username {
    margin-top: 15%;
}

.logout-icon {
    margin-top: 10%;
    cursor: pointer;
}